---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="Financial Tools"
	description="Tools"
	pubDate={new Date("Jan 16 2025")}
>
	<h3>경제 일정 체크</h3>
	<ul>
		<li>
			<a
				href="https://younghakim7.github.io/economic_calendar.html"
				target="_blank"
			>
				이번주 경제 주요 일정 체크(Trading View)</a
			>
		</li>

		<li>
			https://www.nasdaq.com/
			<a href="https://www.nasdaq.com/" target="_blank">
				주요일정 & 시세 어닝Earning</a
			>
		</li>
		<li>
			https://www.nasdaq.com/market-activity/earnings
			<a
				href="https://www.nasdaq.com/market-activity/earnings"
				target="_blank"
			>
				Earnings</a
			>
		</li>
	</ul>
	<hr />
	<h3>주요국 지수 체크</h3>
	<ul>
		<li>
			<a
				href="https://younghakim7.github.io/world_indices.html"
				target="_blank"
			>
				주요국 지수 & World Indices</a
			>
		</li>
		<li>
			finviz.com
			<a href="https://finviz.com/" target="_blank">
				미국 주식 Heap Map & 주요 뉴스 보기 좋은 사이트(finviz)</a
			>
		</li>
		<li>
			wsl.com
			<a href="https://www.wsj.com/market-data/stocks" target="_blank">
				미국 주식 시세 & 주요 뉴스 보기 좋은 사이트(WSJ)</a
			>
		</li>
	</ul>
	<hr />
	<h3>개별 주식 종목 체크</h3>
	<ul>
		<li>
			<a
				href="https://younghakim7.github.io/stock_price_check.html"
				target="_blank"
			>
				개별 종목 차트로 분석Stock Price Check</a
			>
		</li>
	</ul>
	<hr />
	<h3>Chart차트 수치 분석</h3>
	<ul>
		<li>
			<a
				href="https://younghakim7.github.io/fibonacci_calculator.html"
				target="_blank"
			>
				피보나치 계산기</a
			>
		</li>
	</ul>
	<hr />
	<h3>주요 금리 체크</h3>
	<ul>
		<li>
			<a href="https://kr.investing.com/central-banks/" target="_blank"
				>주요국 금리 비교</a
			>
		</li>
		<li>
			<a
				href="https://www.investing.com/central-banks/fed-rate-monitor"
				target="_blank"
			>
				(Investing)Fed - Rate- Monitor 금리인상 확률 70%이상은 확실
				Fed-Rate-Monitor(Investing.com)
			</a>
		</li>
		<li>
			<div class="todo-list-title">
				<a
					href="https://www.cmegroup.com/markets/interest-rates/cme-fedwatch-tool.html"
					target="_blank"
				>
					(Original)Fed - Rate- Monitor 금리인상 확률 70%이상은 확실
					Fed-Rate-Monitor(CME)(PC로 봐야 나오는 듯)
				</a>
			</div>
		</li>
	</ul>
</Layout>
