---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="Payment결제"
	description="투자 관련 결제pay"
	pubDate={new Date("Jan 15 2025")}
>
	<div>
		<div class="social-links">
			<a
				href="http://younghakim7.github.io/Investment/payment.html"
				target="_blank"
				><h1>1 년 프리미엄 결제 11,000불($)</h1>
			</a>
			<h1>1 년 Basic 결제 3,300불($)</h1>

			<hr />

			<br />

			<hr />

			<br />

			<h1>1 달 프리미엄 결제 1,000불($)</h1>
			<h1>1 달 Basic 결제 300불($)</h1>
		</div>
	</div></Layout
>
