---
const today = new Date();
---

<footer>
	<div class="social-links">
		<a href="https://www.youtube.com/@GlobalYoung7" target="_blank">
			<span class="sr-only">Follow GlobalYoung on Youtube</span>
			<svg
				fill="#212939"
				version="1.1"
				id="Capa_1"
				xmlns="http://www.w3.org/2000/svg"
				xmlns:xlink="http://www.w3.org/1999/xlink"
				width="32px"
				height="32px"
				viewBox="0 0 96.875 96.875"
				xml:space="preserve"
				><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
					id="SVGRepo_tracerCarrier"
					stroke-linecap="round"
					stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
					<g>
						<path
							d="M95.201,25.538c-1.186-5.152-5.4-8.953-10.473-9.52c-12.013-1.341-24.172-1.348-36.275-1.341 c-12.105-0.007-24.266,0-36.279,1.341c-5.07,0.567-9.281,4.368-10.467,9.52C0.019,32.875,0,40.884,0,48.438 C0,55.992,0,64,1.688,71.336c1.184,5.151,5.396,8.952,10.469,9.52c12.012,1.342,24.172,1.349,36.277,1.342 c12.107,0.007,24.264,0,36.275-1.342c5.07-0.567,9.285-4.368,10.471-9.52c1.689-7.337,1.695-15.345,1.695-22.898 C96.875,40.884,96.889,32.875,95.201,25.538z M35.936,63.474c0-10.716,0-21.32,0-32.037c10.267,5.357,20.466,10.678,30.798,16.068 C56.434,52.847,46.23,58.136,35.936,63.474z"
						></path>
					</g>
				</g></svg
			>
		</a>
		<a href="https://github.com/YoungHaKim7/" target="_blank">
			<span class="sr-only">Go to Astro's GitHub repo</span>
			<svg
				viewBox="0 0 16 16"
				aria-hidden="true"
				width="32"
				height="32"
				astro-icon="social/github"
				><path
					fill="currentColor"
					d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
				></path></svg
			>
		</a>
	</div>
	<div class="font_bottom">
		<p>
			본 정보는 투자의 참고 자료일 뿐이며 투자권유 또는 주식거래를
			목적으로 하지 않습니다.
		</p>
		<p>
			따라서 본 사이트의 정보 오류 및 지연에 대해서 글로벌영(GY, 블로그
			운영자(김영하)) 및 정보제공자에게는 어떠한 책임도 없습니다. 또한 본
			사이트 정보를 제3자에게 배포하거나 유포할 수 없습니다.
		</p>
		<p>
			서울특별시 마포구 대흥로6길 18-6 201호 | 대표 : 김영하 | 상담전화 :
			010-2895-7174 | 사업자 등록번호 : 568-01-03136 | 상호 : 글로벌영(GY)
			| 2025-서울마포-0281
		</p>
	</div>
	&copy; {today.getFullYear()} GlobalYoung Investment. All rights reserved.
	<div>
		<p>
			This website is <a href="https://github.com/onrirr/c3-web"
				>Open Source</a
			>.
		</p>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
